/*
  Author: Kyle Demmerle
  Date: 1/22/16
  Project: Semi-Autonomous IV Pump
  File: appStyle.css
  Description: This file contains the primary style code for the  main page/view
  of the webApp. 

*/

div.defPage {
    background-color: black;
    color: white;
    font-style: italic;
    margin: 20px;
    padding: 20px;
}

div.wrapperD1{}

div.holderD1 {
    text-align:center;
    display: inline-block;
}

div.numDiag1 {
    float: center;
    display: inline-block;
    vertical: 
}

div.wrapperD2{}
div.holderD2{}
div.numDiag2{}
div.wrapperD3{}
div.holderD3{}
div.numDiag3{}