/*
  Author: Kyle Demmerle
  Date: 1/22/16
  Project: Semi-Autonomous IV Pump
  File: appStyle.css
  Description: This file contains the primary style code for the  main page/view
  of the webApp. 

*/

div.page {

}

div.holderD1 {
    position: relative;
    text-align: center;
    padding: 20px;

}

span.numDiag1{
    position: fixed;
    display: left;
    font-size: 12pt;
    /*BORDER: 1PX DASHED GREEN;*/
    vertical-align: 115PX;
    left: 10%;
    top: 21%;
    padding: 17PX;
}

canvas.diag1 {
    position: fixed;
    display: inline-table;
}

div.holderD2{
    position: relative;
    text-align: center;
    padding: 20px;
   /*border: 5px solid red;*/
}

span.numDiag2{
    position: fixed;
    display: inline-table;
    font-size: 12pt;
    /*border: 1px dashed green;*/
    vertical-align: 115px;
    left: 10%;
    top: 50%
}

canvas.diag2{
    position: fixed;
    display: inline-table;
}

div.holderD3{
    position: relative;
    text-align: center;
    padding: 20px;
    /*border: 5px solid blue;*/
}

span.numDiag3{
    position: fixed;
    display: inline-table;
    font-size: 12pt;
    /*border: 1px dashed green;*/
    vertical-align: 115px;
    left: 10%;
    top: 75%;
    padding: 10px;
}

canvas.diag3{
    position: fixed;
    display: inline-table;
}

span.n1{
    position: fixed;
    /*display: inline-table;*/
    font-size: 36pt;
    /*border: 1px dashed green;*/
    vertical-align: 30%;
    right: 10%;
    top: 19%;
    
}

span.n2{
    position: fixed;
    /*display: inline-table;*/
    font-size: 36pt;
    /*border: 1px dashed green;*/
    vertical-align: 30%;
    right: 10%;
    top: 45.5%;
    
}

span.n3{
    position: fixed;
    /*display: inline-table;*/
    font-size: 36pt;
    /*border: 1px dashed green;*/
    vertical-align: 30%;
    right: 10%;
    top: 75%;
    
}


p.num3{
    font-size: 24pt;
}