/*
    Author: Kyle Demmerle
    Date: 01/20/16
    Project: Semi-Autonomous IV Pump
    File: main.css
    Description: This file will hold the CSS code for the majority of 
                 the WebApp    
*/